@font-face {
    font-family: Raleway;
    src: url("https://fonts.googleapis.com/css?family=Raleway");
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    background-color: ghostwhite;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.blogPost {
    margin-top: 20px;
    text-align: left;
    border: solid darkgray 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px darkgray;
}

.posts {
    width: 600px;
    margin: 50px auto;
}

.postBox {
    background-color: white;
    padding: 10px;
    border-bottom: solid silver 1px;
    box-shadow: 0px 1px 2px silver;
}

.postHeader {
    padding: 10px;
}

.profileImage img {
    border-radius: 50%;
}

.postHeader .profileImage {
    float: left;
    margin-right: 5px;
}

.postHeader .profileImage img {
    width: 100px;
}

.postName {
    float:left;
}

.postName, .commentor {
    color: dodgerblue;
}

.postContent {
    text-indent: 1.5em;
    line-height: 1.3em;
}

.postDate {
    float: right;
    font-size: 0.9em;
    color: dimgray;
}

.postFooter {
    float: left;
    padding: 2px;
}

.postFooter > img {
    margin-left: 10px;
    width: 15px;
}

.postFooter img:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}

.commentor {
    float: left;
}

.userComment {
    padding-left: 20px;
    font-size: 0.9em;
}

.comment {
    margin-top: 5px;
    padding: 4px;
    background-color: ghostwhite;
    overflow: hidden;
}

.commentBox {
    padding-top: 0px;
    margin: 0 auto;
    width: 90%;
    border-top-width: 0px;
}

.comment .profileImage {
    float: left;
    margin-right: 5px;
}

.comment .profileImage img {
    width: 50px;
}

.commentInput {
    margin: 5px;
    padding: 5px;
}

.commentInput img {
    float: left;
    width: 25px;
}

.sendComment {
    width: 420px;
    margin-left: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
}

.sendButton {
    float: right;
    width: 50px;
}
